@import url("variables.css");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--background-color-light);
}

.default-background {
  background: var(--text-color-light);
}

.conteiner {
  margin: 0 auto;
  max-width: 565px;
}

.header {
  padding-top: 32px;
  margin-left: 30px;
  display: flex;
}

option {
  background-color: none;
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit;
}

.menu {
  list-style-type: none;
  padding: 8px 16px;
  color: #000;

  font-feature-settings: "liga" off, "clig" off;
  /* Subheadline/Regular */
  font-family: "SF Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23px;
}

.menu:hover {
  border-radius: 40px;
  background: var(--Grays-Black, #000);
  color: var(--background-color-light);
}

.menu_active {
  border-radius: 40px;
  background: var(--Grays-Black, #000);
  color: var(--background-color-light);
}

.navigation {
  margin: 0 auto;
  border-radius: 25px;
  background-color: var(--background-color-light);
  padding: 2px;
  display: flex;
  flex-direction: column; /* По умолчанию вертикальное меню */
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navigation_menu {
  width: 100%;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

/* Стили для открытого состояния меню */
.dropdown-content.open {
  max-height: 300px; /* Достаточное значение для отображения всех элементов */
  transition: max-height 1.3s ease; /* Анимация открытия */
}

.page-title {
  margin-top: 56px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title_islamapp {
  color: var(--text);
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.37px;
}

.page-title_text {
  margin-top: 12px;
  color: var(--text);
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.37px;
}

.page-title_nstall {
  margin-top: 40px;
  height: 43px;
  padding: 12px 24px;

  border-radius: 100px;
  background: linear-gradient(135deg, #08e045 0%, #85ed35 57.72%, #c6f62a 100%);
  border: none;
  color: var(--background-color-light);

  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto Flex";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-title_nstall:hover {
  cursor: pointer;
}

.islamApp_conteiner {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  outline: none; /* Убирает обводку при фокусе и клике */
  border: none;
  display: flex;
  background-color: transparent;
  border: none;
  color: white;

  font-feature-settings: "liga" off, "clig" off;
  /* Subheadline/Regular */
  font-family: "SF Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.23px;
}

.language:focus {
  outline: none; /* Убирает обводку при фокусе и клике */
  border: none;
}

/* Слой с градиентом */
.gradient-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 268px;
  height: 400.958px;
  /* Градиент и анимация */
  background: conic-gradient(
    from 0deg,
    #ff5f6d,
    #ffc371,
    #ff5f6d,
    #0072ff,
    #00c6ff,
    #ff5f6d
  );
  background-size: 200% 200%; /* Увеличенный размер для плавного перехода */
  animation: gradientAnimation 10s ease infinite; /* Анимация */
  filter: blur(50px); /* Размытие для свечения */
  border-radius: 30px;
  z-index: -1;
}

.islamApp {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%); /* Центрирование изображения */
  width: 339px;
  z-index: 2; /* Размещаем изображение выше градиента */
}

.islamApp_img {
  height: auto;
  display: block;
  border-radius: inherit;
  width: 339px;
}

/* Ключевые кадры для анимации */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 1824px) {
  .page-title {
    margin-top: 190px;
  }
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .conteiner {
    max-width: 575px;
  }

  .navigation_menu {
    max-height: 0; /* Меню скрыто */
  }

  .header {
    justify-content: space-between;
    width: 100%;
  }

  .navigation {
    margin: 0;
    margin-right: 30px;
    height: auto;
  }

  .menu-toggle {
    display: block; /* Показываем кнопку на мобильных устройствах */
  }

  .navigation_menu {
    display: block;
  }

  .dropdown-content.open {
    max-height: 300px; /* Плавное раскрытие меню */
  }

  .gradient-background {
    width: 184px;
    height: 282px;
    bottom: -7.8%;
  }

  .islamApp {
    width: 233px;
    height: auto;
    bottom: -7.8%;
  }

  .islamApp_img {
    width: 100%;
    height: auto;
  }

  .page-title_islamapp {
    font-size: 46px;
  }

  .page-title_text {
    font-size: 22px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 355px;
  }

  .gradient-background {
    width: 167px;
    height: 256px;
    bottom: -8%;
  }

  .islamApp {
    width: 207px;
  }

  .title_islamapp {
    font-size: 32px;
  }

  .page-title_nstall {
    margin-top: 26px;
  }

  .page-title {
    margin-top: 33px;
  }
}
