@import url("variables.css");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* Убирает подчеркивание */
  color: inherit;
}

body {
  color: var(--background-color-light);
}

.default-background {
  background: var(--text-color-light);
}

/*Container*/
.container {
  margin: 0 auto;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Центрируем элементы по горизонтали */
  justify-content: center;
  /* Центрируем элементы по вертикали */
  flex-grow: 1;
  /* Занимаем оставшееся пространство */
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  min-height: 40px;
}

/*Смена языка*/
.language {
  position: absolute;
  top: 4px;
  right: 13px;
  display: inline-block;
  width: 46px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  appearance: none;
  background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4%206L8%2010L12%206%22%20stroke%3D%22white%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E) no-repeat right 0px center;
  background-size: 16px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  word-spacing: 4.07px;
}

.language:focus {
  outline: none;
  /* Убирает обводку при фокусе и клике */
  border: none;
}

/*Меню*/
.menu {
  list-style-type: none;
  padding: 8px 16px;
  color: #000;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23px;
  font-stretch: 107%;
}

.menu:hover {
  letter-spacing: -0.23px;
  color: #646464;
}

.menu_active {
  border-radius: 40px;
  background: var(--Grays-Black, #000);
  color: var(--background-color-light);
}

.navigation {
  margin: 0 auto;
  border-radius: 25px;
  background-color: var(--background-color-light);
  padding: 2px;
  display: none;
  flex-direction: column;
  /* По умолчанию вертикальное меню */

  width: auto;
}

.navigation_menu {
  width: 100%;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

/*button*/
button:hover {
  color: #646464;
}

/*Навбар*/
.mobile-navbar {
  display: none;
}

.menu_img {
  display: none;
}

option {
  background-color: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.nav-item:hover {
  color: #646464;
  letter-spacing: -0.23px;
}

.bar_img {
  width: 24px;
  height: 24px;
  margin-top: 0px;
}

span {
  font-size: 12px;
}

.title_inner {
  display: grid;
  height: 99vh;
}

/*page-title*/
.page-title {
  margin-top: 55px;
  margin-bottom: 54px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title_islamapp {
  color: var(--text);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.37px;
  max-width: 421px;
  font-stretch: 130%;
}

.page-title_text {
  margin-top: 12px;
  color: var(--text);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.37px;
  font-stretch: 115%;
}

.page-title_nstall {
  min-width: 172.44px;
  padding: 12px 24px;

  border-radius: 100px;
  background: #fff;
  border: none;
  color: #000;

  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto Flex";
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1;
}

.page-title_nstall:hover {
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

/*Мокап*/
.islamApp {
  position: relative;
  display: block;
  align-self: end;
  margin: auto;
  max-width: 375px;
  height: 439px;
  min-height: 439px;
}

.mockup {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.islamApp_mockup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 342px;
  z-index: 2;
}

.islamApp_screen {
  width: 307px;
  height: 668px;
  z-index: 0;
  object-fit: cover;
  border-radius: 50px;
}

/* Слой с градиентом */
.gradient-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 384px;
  width: 108%;
  height: 102%;
  filter: blur(35px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: -1;
  overflow: hidden;
}

.gradient-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  /* Начальное положение за пределами контейнера */
  width: 300%;
  /* Увеличенная ширина для создания эффекта движения */
  height: 100%;
  background: linear-gradient(to right,
      #ff5f6d,
      #ffc371,
      #ff5f6d,
      #0072ff,
      #00c6ff,
      #ff5f6d);
  animation: gradientAnimation 12s ease-in-out infinite;
  /* Используем ease-in-out для плавности */
}

@keyframes gradientAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(100% / 3));
    /* Сдвиг на треть ширины */
  }

  100% {
    transform: translateX(0);
    /* Возврат в исходное положение */
  }
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .container {
    height: auto;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu {
    font-size: 16px;
  }

  .language {
    position: static;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .navigation_menu {
    height: 87px;
  }

  .header {
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    min-height: auto;
  }

  .navigation {
    display: none;
  }

  .title_inner {
    height: auto;
    margin-bottom: 24px;
  }

  .islamApp {
    height: auto;
  }



  .page-title {
    margin-top: 32px;
    margin-bottom: 53px;
  }

  .title_islamapp {
    font-size: 32px;
    font-stretch: 127%;
  }

  .page-title_text {
    font-size: 17px;
  }

  div .page-title_nstall {
    min-width: 146.44px;
    padding: 12px 27px;
    font-size: 16px;
  }

  .page-title_islamapp {
    font-size: 31px;
  }

  .mobile-navbar {
    /* display: flex; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(35px);
    border-top: 0.5px solid #ccccdd99;
    z-index: 999;
    justify-content: space-around;
    align-items: center;
  }

  .qr_cod {
    display: none;
  }

  .gradient-background {
    width: 100%;
    height: 100%;
  }
}