.container {
  width: 100%;
  margin: 0 auto;
}

.language-mosque {
  color: var(--background-color-dark);
  background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4%206L8%2010L12%206%22%20stroke%3D%22black%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E) no-repeat right 0px center;
}

.logo {
  width: 60px;
  height: 60px;
}

.mosque_islamApp {
  color: var(--background-color-dark);
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px; /* 113.889% */
  letter-spacing: 0.37px;
}

.application {
  color: var(--background-color-dark);

  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px; /* 170.833% */
  letter-spacing: 0.37px;
}

.screen {
  width: 100%;
  margin-top: 32px;
}

.bid {
  margin-top: 121px;
  text-align: center;
}

.bid_title {
  margin: 0 auto;
}

.times {
  color: var(--background-color-dark);

  text-align: center;
  font-family: "Roboto Flex";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px; /* 113.889% */
  letter-spacing: 0.37px;
}

.times_1 {
  color: var(--background-color-dark);
  margin-top: 12px;

  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px; /* 170.833% */
  letter-spacing: 0.37px;
}

.map {
  width: 100%;
  margin-top: 70px;
}

.helped_text {
  color: var(--background-color-dark);
  font-size: 24px;
  margin-top: 78px;
  font-weight: 700;
}

.bid_helped_text {
  color: var(--background-color-dark);
  font-size: 24px;
  width: 214px;
}

.bid_helped {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 26px;
  width: 80%;
}

.Schedule {
  margin-top: 121px;
  text-align: center;
}

.Schedule_img {
  width: 100%;
  margin-top: 39px;
}

.questions {
  text-align: center;
  margin-top: 183px;
  margin-bottom: 139px;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {

  .logo {
    width: 50px;
    height: 50px;
  }

  .mosque_islamApp,
  .times {
    font-size: 31px;
  }

  .application,
  .times_1,
  .bid_helped_text {
    font-size: 22px;
  }

  .bid_helped {
    flex-direction: column;
    gap: 15px;
  }
}

