:root {
    /* Светлая тема */
    --background-color-light: #ffffff;
    --text-color-light: #000;
    --text: #ececec;
    
    /* Темная тема */
    --background-color-dark: #000;
    --text-color-dark: #ffffff;
  }